#feedback {
    /* width: 23em;
    height: 23em; */
    padding: 0.5em;
    background: white;
    border-radius: 1.5em;
    border-color: black;
    border: 2px solid;
    /* cursor:move; */
    z-index: 200;
    overflow: hidden;
    /* position: absolute; */
	position: fixed;
	bottom: 0.125em;
	right: 0.125em;
}

#feedback.collapsed {
	height: 2.1em;
	position: fixed;
	bottom: 0;
	right:0;
}
#feedback.collapsed textarea {
	display: none;
}

#feedback .title {
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

.ui-resizable-handle { 
      position: absolute;
      font-size: 0.1px;
      z-index: 99999; 
      display: block;
}

#feedback input[type="text"], #feedback input[type="email"], #feedback textarea {
	width: 100%
}

.feedback_title {
	display: none;
}
.feedback_text {
}
.feedback_email {
	display: none;
}
.feedback_expand {	
}
.feedback_normal {
	display: none;
}
.button.type {
	min-width: auto;
	float: right;
}

.feedback_extended .feedback_title {
	display: block;
}
.feedback_extended .feedback_text {
}
.feedback_extended .feedback_email {
	display: block;
}
.feedback_extended .feedback_expand {	
	display: none;
}
.feedback_extended .feedback_normal {
	display: block;
}