htm, body {
	font-family:sans-serif;
	font-weight:bold;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:none;
	color:black;
}

a:active {
	text-decoration:none;
	color:black;
}

a:focus {
	text-decoration:none;
	color:black;
}

#index_bg {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

#index_content {
	position:relative;
	z-index:1;
}

#index_log{
	display:table;
	overflow:hidden;
	position:fixed;
	height:4%;
	width:10%;
	background-color:#0f0;
	top:5%;
	left:60%;
	text-align:center;
}

#index_set{
	display:table;
	overflow:hidden;
	position:fixed;
	height:4%;
	width:10%;
	background-color:#0f0;	
	top:5%;
	left:71%;
	text-align:center;
}

#index_lang {
	display:table;
	overflow:hidden;
	position:fixed;
	height:4%;
	width:10%;
	background-color:#0f0;	
	top:5%;
	left:82%;
	text-align:center;
}

div.index_lang_h{
	visibility:hidden;
	display:table;
	overflow:hidden;
	position:fixed;
	width:0%;
}

div.index_lang_v {
	visibility:visible;
	display:table;
	overflow:hidden;
	position:fixed;
	width:10%;
	background-color:#0f0;	
	top:9%;
	left:82%;
	text-align:center;
}

#index_mf {
	overflow:hidden;
	position:fixed;
	height:55%;
	width:55%;
	background-color:#00f;	
	top:10%;
	left:40%;
	
}

#index_text_mf {
	overflow:hidden;
	position:fixed;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	background-color:#ff0;
	width:40%;
	height:55%;
	top:10%;
	left:5%;
}

#index_pymn {
	font-size:40px;
	display:table;
	overflow:hidden;
	text-align:center;
	position:fixed;
	height:15%;
	width:30%;
	left:10%;
	top:45%;
	background-color:#0ff;
}

#index_sr {
	font-size:40px;
	display:table;
	overflow:hidden;
	vertical-align:middle;
	border-radius:20px;
	position:fixed;
	height:20%;
	width:29%;
	background-color:#f00;	
	bottom:5%;
	left:5%;
	text-align:center;
	
}

#index_sf {
	font-size:40px;
	display:table;
	position:fixed;
	overflow:hidden;
	border-radius:20px;
	height:20%;
	width:30%;
	background-color:#f00;	
	bottom:5%;
	left:35%;
	text-align:center;
}

#index_tcm {
	font-size:40px;
	display:table;
	overflow:hidden;
	border-radius:20px;
	position:fixed;
	height:20%;
	width:29%;
	background-color:#f00;
	bottom:5%;
	left:66%;
	text-align:center;
}

#index_text_mf_t {
	overflow:hidden;
	position:fixed;
	top:12%;
	left:7%;
	height:25%;
	width:36%;
}

div.index_text_middle {
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
	width:100%;
	overflow:hidden;
}

