htm, body {
    font-family:sans-serif;
    font-weight:bold;
    margin:0;
    padding:0;
}

input, select {
	font-size:1em;
}

#index_pic_bg {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#page {
    position:relative;
    z-index:1;
	margin:0 5em;
}

#metaNav {
	height:5em;
}

#metaNav #metaNavButtons {
	float:right;
	margin-top:3em;
	margin-right:3em;
}

.nav_button {
    display:table;
    overflow:hidden;
    background-color:#997F7F;
    text-align:center;
	margin-left:0.8em;
	float:left;
    width:12em;
	height:1.5em;
}

#logo {
	float:left;
    display:table;
	margin:0.5em 0 0 0.5em;
	height:4.2em;
}

#container {
	border-radius:1.5em;
	background-color:#99B299;
}

#content_left {
    width:75%;
	float:left;
}

#content_right {
    width:25%;
    float:right;
}

#content {
    padding: 2em;
}

#mainButtons {
	margin:1.5em 0;
}

.index_button {
	font-size:3em;
	display:table;
	overflow:hidden;
	border-radius:0.5em;
	height:2em;
	padding: 0.15em;
	background-color:#997F7F;
	text-align:center;
	width:30%;
}

#left .index_button  {
	/*margin-right:auto;*/
	float:left;
}

#middle .index_button , #middle_single .index_button  {
	margin-right:auto;
	margin-left:auto;
	/*float:left;*/
}

#middle_single .index_button  {
	width:auto;
}

#right .index_button  {
	/*margin-left:auto;*/
	float:right;
}


.index_button span, .nav_button  span {
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    width:100%;
    overflow:hidden;
}



#sidebar {
	padding: 1.7em 1.7em 1.7em 0;
}

#footer {
	position:relative;
	padding: 1em;
	margin: 1em 2em;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}



label {
    text-align: right;
    display: inline-block;
    width: 14em;
	vertical-align: top;
}

a:link, a:visited, a:hover, a:active, a:focus  {
    text-decoration:none;
    color:black;
}

span.error {
    font-size: 0.9em;
    color:red;
}

div.index_div_login{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    z-index: 1;
    visibility: hidden;
    display:table;
    overflow:hidden;
    position:fixed;
    height:auto;
    width:25%;
    background-color:#997F7F;
    top:8.9%;
    left:60%;
    text-align:center;
}




div.options a {
	margin-bottom: 0.8em;
}

div.options a.last {
	margin-bottom: 0;
}

.button, .buttonSmall {
	display: inline-block;
	/*height:1.7em;*/
	text-align: center;
	
    border-radius:0.8em;
	background-color:#997F7F;
	cursor:pointer;
}

.button {
	padding: 0.8em;
	width:8.4em;
}
.buttonSmall {
	padding: 0.4em;
}

a.delicious {
	display: inline-block;
	width:3em;
	height:3em;
	background: url('../pics/delicious.png') repeat scroll 0 0 transparent;
	background-size: contain auto;
}

a.disgusting {
	display: inline-block;
	width:3em;
	height:3em;
	background: url('../pics/disgusting.png') repeat scroll 0 0 transparent;
	background-size: contain auto;
}
a.delicious_big {
	display: inline-block;
	width:5em;
	height:5em;
	background: url('../pics/delicious_big.png') repeat scroll 0 0 transparent;
	background-size: contain auto;
}

a.disgusting_big {
	display: inline-block;
	width:5em;
	height:5em;
	background: url('../pics/disgusting_big.png') repeat scroll 0 0 transparent;
	background-size: contain auto;
}

a.addRecipe.button {
	width:1.7em;
	height:1.7em;
}


div.resultArea {
    border-radius:1.5em;
	background-color:#FFFFFF;
	padding:0.8em;
	margin-bottom:0.8em;
	min-height: 12em;
}

div.resultArea img.ingredient {
	width:12em;
	height:12em;
	float:left;
}

div.resultArea img.recipe {
	width:12em;
	height:12em;
	float:left;
}

div.resultArea div.data {
	margin-left:0.8em;
	float: left;
}

div.resultArea div.name {
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:0.4em;
}

div.resultArea div.options {
	float:right;
	width:10em;
}

div.resultArea div.options a.disgusting {
	float:right;
}



div.detailView {
    border-radius:1.7em;
	background-color:#FFFFFF;
	padding:0.8em;
	margin-bottom:0.8em;
}

div.detailView div.name {
	font-weight:bold;
	font-size:2.0em;
	margin-bottom:0.4em;
}
div.detailView div.options {
	float:right;
	width:17em;
}
div.detailView div.options div.ingredients {
	display: inline-block;
	padding: 0.8em;
	
    border-radius:0.8em;
	background-color:#997F7F;
	width:15em;
}

div.detailView div.details {
/*	float: left;*/
}

div.detailView div.options a.disgusting_big {
	float:right;
}

div.detailView img.recipe {
	width:17em;
	height:17em;
}

div.search {
	margin-bottom: 0.8em;
}

div.search  input.search_button {
	/*width:50px;*/
	height:3.4em;
	vertical-align: middle;
	margin-right: 0.2em;
}

div.search  input.search_query{
	width:17em;
}

ul.search_choose {
	padding-left:0;
}

ul.search_choose label{
	width: 17em;
	text-align: left;
}
ul.search_choose li {
	width: 20em;
	float: left;
	list-style: none;
}

#nutrientDataSearch {
	max-height: 25em;
	padding-right: 0.8em;
	overflow: auto;
}

.view.nutrientData {
}

.clearfix {
	clear: both;
}

.f-right {
	float:right;
}

.f-left {
	float:left;
}

































.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 0.4em solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 10.4em 0;
	padding: 0.4em 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 12px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}