#Options +FollowSymLinks
#IndexIgnore */*

RewriteEngine On

# Check if is image with size param
RewriteCond %{REQUEST_FILENAME} .*db/(.*pics/.*)$
RewriteCond %{QUERY_STRING} (size=.*)$
#RewriteRule (.*pics/.*).(png)$ /db/imagesize.php?img=$1.$2&%1 [R,L]
RewriteRule (.*pics/.*).(png)$ /db/site/imagesize?img=$1.$2&%1 [R,L]

RewriteCond %{REQUEST_FILENAME} .*EveryCook/(.*pics/.*)$
RewriteCond %{QUERY_STRING} (size=.*)$
RewriteRule (.*pics/.*).(png)$ /EveryCook/site/imagesize?img=$1.$2&%1 [R,L]


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule `(.*)\?*$ index.php/$1 [L,QSA]
RewriteRule . index.php

#deny from all
#Options +FollowSymLinks
