body {
	background: url('../../pics/bg.png') repeat fixed 0 0 transparent;
	background-size: 100% auto;
}

a:link, a:visited, a:hover, a:active, a:focus  {
	text-decoration:none;
	color:black;
}

a.actionlink {text-decoration: underline;}
a.actionlink:hover {text-decoration: underline; color:blue;}

span.error {
	font-size: 0.9em;
	color:red;
}

.nav_button {
	background-color:#997F7F;
}

#logo {
	background: url('../../pics/logo_small_1.png') no-repeat scroll 0 0 transparent;
	background-size: 100% auto;
}

#container {
	background-color:#99B299;
}

.index_button {
	background-color:#997F7F;
}

#footer {
	border-top: 1px solid #C9E0ED;
}

div.index_div_login{
	background-color:#997F7F;
}

.button, .buttonSmall, input[type='submit'], input[type='button'] {
	background-color:#997F7F;
}

a.delicious, a.delicious_big {
	background: url('../../pics/delicious.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

a.disgusting, a.disgusting_big  {
	background: url('../../pics/disgusting.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

a.cookwith , a.cookwith_big {
	background: url('../../pics/cook.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

div.resultArea {
	background-color:#FFFFFF;
}

div.detailView {
	background-color:#FFFFFF;
}

div.detailView div.options div.ingredients {
	background-color:#997F7F;
}

#fancybox-content{
	background-color:#99B299;
	padding:1em !important;
}


div.nutrientDataGroup {
	background-color:#FFFFFF;
}

div.form .hint {
    color: black;
}

.navMenuList,
.navMenuListL2 {
	background-color:#FFFFFF;
}


div.mealOverview {
	background-color:#99B299;
}
.meal_course {
	background-color:#99B299;
}

.pagingLoading {
	background: url('../../pics/loading.gif') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

.slider_holder .jslider_plastic .jslider-bg i, .slider_holder .jslider_plastic .jslider-pointer {
    background-image: url('../../pics/jslider.plastic.png');
}


#fancybox-loading {
	background: url('../../pics/Please_wait_small.gif') no-repeat scroll 0 0 transparent !important;
	background-size: 100% auto !important;
}