body {
	background-color:#6D0000;
}

a:link, a:visited, a:hover, a:active, a:focus  {
	text-decoration:none;
	color:black;
}

a.actionlink {text-decoration: underline;}
a.actionlink:hover {text-decoration: underline; color:blue;}

span.error {
	font-size: 0.9em;
	color:red;
}

.nav_button {
	background-color:#FF4D02;
}

#logo {
	background: url('../../pics/logo_small_2.png') no-repeat scroll 0 0 transparent;
	background-size: 100% auto;
}

#container {
	background-color:#FFDB00;
}

.index_button {
	background-color:#FF4D02;
}

#footer {
	border-top: 1px solid #BC0000;
}

div.index_div_login{
	background-color:#FF4D02;
}

.button, .buttonSmall, input[type='submit'], input[type='button'] {
	background-color:#FF4D02;
}

#ingredientsResult a.nutrientInfo,
#ingredientsResult a.shopInfo  {
	background-color: #C0C0C0;
	border-color: #FFDB00;
}

a.delicious, a.delicious_big  {
	background: url('../../pics/delicious.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

a.disgusting, a.disgusting_big {
	background: url('../../pics/disgusting.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

a.cookwith, a.cookwith_big {
	background: url('../../pics/cook.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

div.resultArea {
	background-color:#FFFFFF;
}

div.detailView {
	background-color:#FFDB00;
}

div.detailView div.options div.ingredients {
	background-color:#FF4D02;
}

#fancybox-content{
	background-color:#FFDB00;
	padding:1em !important;
}

div.nutrientDataGroup {
	background-color:#FFFFFF;
}

div.form .hint {
    color: black;
}

.navMenuList,
.navMenuListL2 {
	background-color:#FFFFFF;
	border-color: #FFDB00;
}


div.mealOverview {
	background-color:#FFDB00;
}
.meal_course {
	background-color:#FFDB00;
}
.pagingLoading {
	background: url('../../pics/loading.gif') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

.slider_holder .jslider_plastic .jslider-bg i, .slider_holder .jslider_plastic .jslider-pointer {
    background-image: url('../../pics/jslider.plastic.png');
}

#fancybox-loading {
	background: url('../../pics/Please_wait_small.gif') no-repeat scroll 0 0 transparent !important;
	background-size: 100% auto !important;
}


.browserError {
	color: red;
	background-color: #FFFFFF;
	border: 1px solid red;
}
.browserError .closeButton {
	background: url('../../pics/close.png') no-repeat scroll 0 0 transparent;
}


.cookAssistant .progress{
	background: url('../../pics/cookassistant_action_chili.png') no-repeat scroll left center transparent;
}

.cookAssistant .recipeSteps .recipeStep .stepHeader .finishTime.toLate div {
	background-color: #FF0000;
}

.cookAssistant .recipeSteps .recipeStep .stepHeader .nextTime.toLate div {
	background-color: #FF0000;
}

.cookAssistant .recipeSteps .recipeStep .stepInfo .action .actionText .toMuch {
	color: #FF0000;
	font-weight: bold;
}



.addRowContainer div.up {
	background: url('../../pics/up.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

.addRowContainer div.down {
	background: url('../../pics/down.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

.addRowContainer div.remove {
	background: url('../../pics/remove.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}

.startpage .up1 {
	border-bottom-color: #FF4D02;
}

.startpage .down1 {
	border-top-color: #FF4D02;
}